.header {
    display: flex;
    background-color: rgb(14, 141, 33);
    color: white;
    padding: 12px;
    justify-content: space-between;

    span {
        display: flex;
        align-items: center;
    }
}

.headerLinks {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-right: 2em;
}

.headerLinks a:link,
.headerLinks a:visited,
.headerLinks a:hover,
.headerLinks a:active {
    color: white;
    text-decoration: none;
}

.primaryContainer{
    padding: 4px;
    background-color: rgb(251, 251, 252);
}